# Database Configuration
DB_HOST=localhost:30432
DB_PORT=5432
DB_USER=Tatik
DB_PASSWORD=2Wsxcft6
DB_NAME=myproject

# Server Configuration
SERVER_PORT=8080
SERVER_HOST=localhost

# Logging
LOG_LEVEL=info 